<h1>Products#show</h1>
 
<%= @product.name %>
<%= @product.description %>
<% if @product.image.attached? %>
  <%= image_tag(@product.image, style:"width:200px; display:block")%>
<% end %>

<%= link_to "Edit", edit_product_path %>
<%= link_to 'Back', products_path %>